openapi: 3.0.3
info:
  title: ProductAdminOAS
  version: '1.0'
  description: ''
servers:
  - url: 'https://www.offkinto.com'
paths:
  '/product/v1/admin/products/{productId}':
    parameters:
      - schema:
          type: string
        name: productId
        in: path
        required: true
        description: 物件番号
    get:
      summary: Your GET endpoint
      tags:
        - AdminProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/product/resource/ProductDetailResource.yaml
      operationId: detail
      description: FE側に物件番号によって車両詳細情報を取得する。
    put:
      summary: ''
      operationId: update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                description: 物件ID
            application/xml:
              schema:
                type: object
                properties: {}
      description: FE側から物件の情報によって物件の情報を更新する。
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/product/command/UpdateProductCommand.yaml
      tags:
        - AdminProduct
  /product/v1/admin/products/preview:
    post:
      summary: ''
      operationId: preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                description: 物件プレビュー番号
      description: FE側から物件情報によって物件プレビューデータを作成して物件プレビュー番号を返す。
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/product/command/InsertProductPreviewCommand.yaml
        description: ''
      tags:
        - AdminProduct
  /product/v1/admin/products:
    post:
      summary: ''
      operationId: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/product/resource/ProductSearchResource.yaml
      description: 異なるページから物件の検索条件が違うことより、物件の全対象、登録対象、掲載対象のデータを区分する。
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/product/query/ProductSearchQuery.yaml
      tags:
        - AdminProduct
  /product/v1/admin/products/bulk-publish:
    put:
      summary: ''
      operationId: publish
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/product/resource/ProductPublishResource.yaml
      description: FE側に物件IDsによって物件掲載状態を纏めて更新する。
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/product/command/UpdateProductPublishCommand.yaml
      tags:
        - AdminProduct
  /product/v1/admin/products/file:
    post:
      summary: ''
      operationId: download
      responses:
        '200':
          description: OK
      description: 異なるページから物件の検索条件が違うことより、物件の全対象、登録対象、掲載対象のCSVデータのダウンロードファイルを区分する。
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/product/command/InsertProductDownloadCommand.yaml
      tags:
        - AdminProduct
components:
  schemas: {}
tags:
  - name: AdminProduct
